@import "../../vendor/lispa/amos-core/views/assets/web/css/less/core.less";

.documents {
  .shared table {
    margin: @margin-medium 0 !important;
  }
  &.post-horizonatal:not(:last-child) {
    border-bottom: 0px solid #d4d4d4 !important;
  }
  .sidebar {
    .icon {
      float: left;
      color: @regione-color;
      margin-right: 12px;
    }

    .title {
      margin-top: 16px;
      padding-left: 48px;
    }
  }
}

